doctype html
html(lang="en")
  head
    - var title = "IT Conference Top — We make it easy to choose a tech conference."
    - var desc = "Choosing a good developer conference has always been hard. We make it easy by rating each conference from A+ (the best) to F- (the worst)."
    meta(charset="UTF-8")
    title=title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content=desc)
    meta(name="keywords" content="")
    meta(name="robots" content="index,follow")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald")

    link(rel="shortcut icon" type="image/png" href="favicon.png")
    link(rel="shortcut icon" sizes="64x64" href="favicon.png")
    link(rel="icon" href="favicon.png")

    script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js")
    script(defer src="//use.fontawesome.com/releases/v5.0.10/js/all.js")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@itconference1")
    meta(name="twitter:creator" content="@itconference1")
    meta(name="description" content=desc)
    meta(name="og:title" content=title)
    meta(name="og:description" content=desc)
    meta(name="og:image" content="https://itconference.top/ogpic.png")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=desc)
    meta(name="twitter:image" content="https://itconference.top/ogpic.png")

    style.
      * {
        font-family: Oswald;
      }

      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
      }

      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }      

      .avatar {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
        border-radius: 50%;
      }
      .avatar:hover {
        -webkit-filter: none;
        filter: none;
      }

      div.detail {
        height: 2em;
      }   
  body
    script(type="text/javascript") (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49303816 = new Ya.Metrika2({ id:49303816, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");
    noscript: div: img(src="https://mc.yandex.ru/watch/49303816" style="position:absolute; left:-9999px;" alt="")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=433199826742778&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    header
      section.hero.is-primary
        .hero-body
          .container
            .columns.is-mobile
              .column.is-narrow
                img.is-inline.logo.image.is-48x48(src="./primary-logo.png" alt="logo")
              .column
                h1.title.is-size-6-mobile IT Conference Top
                h2.subtitle.is-size-6-mobile Find the best conference easy.
              .column.has-text-right
                h2.subtitle.is-size-7-mobile
                  i.fas.fa-users
                  |  Trusted by 
                  b 53,000 
                  | monthly visitors.
    section.section
      .container
        .columns
          .column.is-12
            article.message.is-primary
              .message-body
                p=desc
            each conference in conferences
              .card
                .card-content
                  .columns
                    .column.is-8
                      .media
                        .media-left
                          figure.image.is-48x48
                            if conference.logo
                              img(src=conference.logo)
                            else
                              img(src=`https://twitter-avatar.now.sh/${conference.twitter}` alt=conference.twitter)
                        .media-content
                          h3.title.is-4: a.has-text-black(targe="_blank" href=conference.website rel=conference.follow ? "" : "nofollow" )=conference.name
                          p.subtitle.is-6: a.has-text-black.is-lowercase(href=`https://twitter.com/${conference.twitter}` target="_blank" rel="nofollow") @#{conference.twitter}
                      nav.level
                        .level-item.has-text-centered
                          div
                            p.heading Rating
                            .detail
                              span.fa-layers.fa-fw.is-size-3
                                case conference.rating
                                  when 'A+'
                                    i.fas.fa-circle.has-text-primary
                                  when 'A'
                                    i.fas.fa-circle.has-text-primary
                                  when 'A-'
                                    i.fas.fa-circle.has-text-primary                                      
                                  when 'B+'
                                    i.fas.fa-circle.has-text-primary
                                  when 'B'
                                    i.fas.fa-circle.has-text-primary
                                  when 'B-'
                                    i.fas.fa-circle.has-text-primary
                                  when 'C+'
                                    i.fas.fa-circle.has-text-warning
                                  when 'C'
                                    i.fas.fa-circle.has-text-warning
                                  when 'C-'
                                    i.fas.fa-circle.has-text-warning
                                  when 'D+'
                                    i.fas.fa-circle.has-text-danger 
                                  when 'D'
                                    i.fas.fa-circle.has-text-danger 
                                  when 'D-'
                                    i.fas.fa-circle.has-text-danger                                       
                                span.fa-layers-text.fa-inverse(data-fa-transform="shrink-8")=conference.rating
                        .level-item.has-text-centered
                          div
                            p.heading Location
                            .detail
                              span.flag-icon.flag-icon-squared(class=`flag-icon-${conference.country.toLowerCase()}`)
                              span  #{conference.city}
                        .level-item.has-text-centered
                          div
                            p.heading Date
                            if conference.scheduled
                              .detail=conference.scheduled.date
                            else 
                              .detail TBA
                        .level-item.has-text-centered
                          div
                            p.heading Price
                            if conference.scheduled
                              .detail #{conference.scheduled.price}€
                            else
                              .detail TBA
                      .tags
                        each tag in conference.tags
                          span.tag.is-uppercase=tag
                      p.content=conference.description
                      .buttons
                        if conference.video
                          a.button.watchVideo(data-link=conference.video rel="nofollow") Watch video
                        if conference.emphasize
                          a.button.is-primary(target="_blank" href=conference.website rel="nofollow") Register
                        else
                          a.button.is-primary.is-outlined(target="_blank" href=conference.website rel="nofollow") Visit website
                    .column.is-4(style="border-left: 1px solid #f5f5f5")
                        mixin rating(stars)
                          if stars
                            - var color = stars <= 2 ? 'has-text-danger' : stars < 4 ? 'has-text-warning' : 'has-text-primary'          
                              each _, i in Array(stars)
                                i.fas.fa-star(class=color)
                              each _, i in Array(5-stars)
                                i.far.fa-star.has-text-grey-lighter
                          else
                            | —
                        h3.is-4.title Detailed rating
                        .columns.is-gapless.is-marginless
                          .column.is-uppercase Talks  
                          .column: +rating(conference.ratingBreakdown.talks)
                        .columns.is-gapless.is-marginless
                          .column.is-uppercase Workshops 
                          .column: +rating(conference.ratingBreakdown.workshops)
                        .columns.is-gapless.is-marginless
                          .column.is-uppercase Organization 
                          .column: +rating(conference.ratingBreakdown.org)                          
                        .columns.is-gapless.is-marginless
                          .column.is-uppercase Venue 
                          .column: +rating(conference.ratingBreakdown.location)                                 
                        .columns.is-gapless.is-marginless
                          .column.is-uppercase Ticket Price 
                          .column: +rating(conference.ratingBreakdown.ticket)
                        .columns.is-gapless
                          .column.is-uppercase Travel Expenses 
                          .column: +rating(conference.ratingBreakdown.travel)
                        if conference.speakers
                          h3.is-4.title Who spoke here  
                        if conference.speakers  
                          .columns.is-multiline.is-mobile
                            each speaker in conference.speakers
                              .column.is-narrow
                                figure.image.is-48x48
                                  a(target="_blank" href=`https://twitter.com/${speaker}` rel="nofollow"): img.avatar(src=`https://twitter-avatar.now.sh/${speaker}` alt=speaker)
    #modal.modal
      .modal-background
      .modal-content
        .videoWrapper
          iframe#frame(width="560" height="349" name="video" frameborder="0")  
      button#modal-close.modal-close.is-large(aria-label="close")
  
    footer.footer
      .container
        .content.has-text-centered
          p This service has been developed and maintained by the independent community of software developers from Sweden and Berlin. 
          p Our opinionated ranking formula takes into account many factors. The factors include, but are not limited to – verified social network reviews (google, facebook, trustpilot, blog posts), sentiment analysis, what attendees say to us, customer service, price vs. quality ratio, our expert opinion (if we attended the conference).
          p We'd also like to thank amazing people who invest time in writing feedback and online reviews. Thanks to you, services like this can emerge.
          p 
            | Have questions? Want us to review your conference? 
            a(href="mailto:hello@itconference.top") Send us
            |  an email!
          p itconference.top @ 2016 – #{year}
    script(type="text/javascript").
      function closeModal() {
        var modal = document.getElementById("modal")
        modal.className = modal.className.replace(/\bis-active\b/g, "")
      }      

      var modalClose = document.getElementById("modal-close");
      modalClose.addEventListener("click", closeModal);

      function watch(e) {
        var videoLink = e.target.getAttribute("data-link")
        var modal = document.getElementById("modal")
        var name = 'is-active'
        var arr = modal.className.split(" ");
        if (arr.indexOf(name) == -1) {
          modal.className += " " + name;
        }

        document.getElementById("frame").setAttribute("src", videoLink)
      }
      var watchVideoButtons = document.getElementsByClassName("watchVideo")
      for (var i = 0; i < watchVideoButtons.length; i++) {
        watchVideoButtons[i].addEventListener("click", watch);
      }